.container-fluid {
  padding: 32px;
}

#Content {
  padding-bottom: 5px;
}

.jumbotron {
  background: url('../imgs/abstract-business-code-coder-270348.jpg');
  object-fit: contain;
  color: white;
  background-position: center top;
  background-position: -300px -375px;
}

h2 {
  text-decoration: underline;
}

#FooterID {
  padding: 10px;
}

.Skills {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 3px;
  /* width: fit-content; */
  display: inline-block;
  margin: 2px;
}

.good {
  border-color: green;
}

.ok {
  border-color: orange;
}

.bad {
  border-color: red;
}

#knowledge i {
  padding: 5px;
  font-size: 3rem;
}

#projects {
  text-align: center;
}

.fa-node-js:hover {
  color: #68a063;
}

.fa-js-square:hover {
  color: #f0db4f;
}

.fa-html5:hover {
  color: #f16529;
}

.fa-css3-alt:hover {
  color: #264de4;
}

.fa-vuejs:hover {
  color: #41b883;
}

.fa-react:hover {
  color: #61dbfb;
}

.fa-android:hover {
  color: #3ddc84;
}

.fa-java:hover {
  color: #f89820;
}
