<div class="flex flex-col justify-center mt-2">
  <h1 class="text-4xl underline text-center font-semibold">About Me</h1>
  <div class="mt-2 text-center">
    <div class="flex justify-center">
      <p class="w-11/12 lg:w-2/3 bg-gray-200 rounded-md p-4">
        I'm a Detroit based full stack developer with a BS of Computer science,
        looking to make your website needs a relaity. I'm a highly motivated
        individual with experience in many langues and development tools. With
        experience cordinating projects between departments and maintining tight
        deadlines.
      </p>
    </div>
  </div>
</div>
