<div class="flex flex-col justify-center mt-2">
  <h1 class="text-4xl underline text-center font-semibold">Education</h1>
  <div class="flex justify-center mt-2 text-center">
    <div class="w-fit bg-gray-200 rounded-md px-5 py-2">
      <div class="font-bold">Baker College</div>
      <div>Clinton Township</div>
      <div>
        <span class="font-semibold">Bachelor's of Computer Science,</span>
        <span>2015</span>
      </div>
    </div>
  </div>
</div>
