---
const today = new Date();
---

<footer class="py-2">
  <div class="flex flex-row justify-center space-x-1">
    <div>
      &copy; {today.getFullYear()} RyanCrispin. All rights reserved.
    </div>
    <a href="https://github.com/thakrisp" class="flex items-center">
      <img src="/Resume/linkedin.svg" alt="linkedinLogo" class="h-5" />
    </a>
  </div>
</footer>
<style>
  img :hover {
    color: aqua;
  }
</style>
